<%= form_for @trip do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %><br />
    <%= form.label :destination %>
    <%= form.text_field :destination, class: "form-control" %><br />
    <%= form.label :duration %> <b>(Days)</b>
    <%= form.text_field :duration, class: "form-control" %><br />
    <%= form.label :season %>
    <%= form.text_field :season, class: "form-control" %><br />
  </div>
  <%= form.button 'Create Trip', class: "btn btn-success" %>
<% end %>